<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Untitled 1</title>
</head>

<body style="background-color:blue">
     <div>
       
        <div align="center">
            <img src="~/resimler/resim3.jpg" alt="resim3" width="400" height="400">
            <img src="~/resimler/resim2.jpg" alt="resim3" width="400" height="400">
        </div>
    </div>

    <div><br /><br />
        <div style="border-radius:25px; width:100%;color:aqua;background-color:black;border:1px dotted black;text-align:center;align-content:flex-end"><marquee style="font-size:xx-large" >Öğrenci Giriş Sayfasına Hoşgeldiniz.....</marquee></div>
        <div>
            <br /><br />
            <p style="text-align:justify;margin-left:150px;font-style:italic;font-size:22px;font-weight:bold;color:black;max-width:1200px;max-height:500px">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Projemizin asıl gayesi Siz degerli Çanakkale 18 Mart Üniversitesi ögrencilerinin
                bitirme projelerini korumak ve daha geniş kitlelere duyurmada size yardımcı olmaktır.
                Projemiz size alternatif bitirme projesi konuları sunarak size dönem sonu bitirme projenize karar vermede yardımcı olmayı
                ve projelerinizi kontrollü bir şekilde yapmanızı saglamayı amaçlamaktadır. Sisteme kayıt olan şirketlerin sizin hakkınızda
                ve projeniz hakkında bilgi sahibi olması hatta sirketlerin size bizzat buradan bitirme projesi sunarak iş imkanı saglaması amaçlanmaktadır.
                Sizlerde bölümümüzün ögrencileri olarak arakdaşlarınız için farklı proje fikirleri önerebilir, projeler hakkında begeni ve yorumlar yapabilir, çalışmak istediginiz projeye kayıt olabilir ,bölümüzüzde bulunan akademisyenler hakkında bilgi sahibi olabilir ve birçok 
                artı işlemi burada gerçekleştire bilirsiniz...
                
              
            </p>
        </div>
    </div>
</body>

</html>