<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Untitled 1</title>
</head>

<body>
    <div style="width:100%;background:aqua;border:1px dotted black;text-align:center"><marquee style="font-size:xx-large" behavior=alternate>Öğrenci Giriş Sayfasına Hoşgeldiniz</marquee></div>
    <div>
       
        <div align="center">
            <img src="~/resimler/resim3.jpg" alt="resim3" width="400" height="500">
            <img src="~/resimler/resim2.jpg" alt="resim3" width="400" height="500">
        </div>
    </div>

    <div><br /><br />

        <p style="font-size:20px">
            &nbsp;&nbsp;&nbsp;&nbsp; Sistemimiz projelerinizi diğer kullanıcılarla uyumlu, aktif ve güvenilir olarak saklar.Fikir alışverşine imkan sağlayıp
            diğer kullanıcılar hakkında yorum yapma ve puan verme işlemlerini sağlar.Ayrıca öğretim elemanlarının öğrencilerin projelerini
            takip imkanı sunar.
        </p>
    </div>
</body>

</html>