@{
    ViewBag.Title = "Proje Takip Ve Öneri Sistemi Sayfasına Hoş Geldiniz";
}
<script src="~/Scripts/angular.min.js"></script>

    <div class="jumbotron"style="background-color:white" >
        <h1 style="margin-left:250px" >Projeleriniz Artık Emin Ellerde</h1>
        @*<input type="text" ng-model="deneme"/>
        <p>{{deneme+deneme}}</p>*@
        <div>
            <div style="margin-left:200px">
                <img width="500" height="300" src="~/resimler/projes.jpg" />
                <img width="500" height="300" src="~/resimler/proje.jpg" />
                <img width="1005" height="250" src="~/resimler/proje1.jpg" />
            </div>
                <p class="lead" style="font-weight:bold;">
                Projenin asıl amacı proje yapacak olan ögrencilere proje ve akademisyen seçimleri konusunda 
                yardımcı olmak ve yapılan projeleri büyük
                kitlelere duyurmak ,görüşlerini almaktır. Bu sayede yapılan projelerin şirketlerce ve
                akademisyenlerce incelenmesini saglayarak ögrencilerin kendilerini şirketlere sunmalarında yardımcı olmak
                ve akademisyenlerin işlerini kontrollü bir şekilde yapmaları amaclanmaktadır.
            </p>
        </div>
    </div>